
<footer>
	<div id="fot-iz">
		<img alt="logo" src="../images/protologo2black.png"
			class="logo-footer" /> <br /> <br /> <a
			class="twitter-follow-button" href="https://twitter.com/CryptoEUS"
			data-size="large" data-show-count="false"> Siguenos @CryptoEUS</a>
	</div>
	<div id="fot-der">
		<ul>
			<li><h3>Más Información:</h3></li>
			<li><a href="../tyc.jsp">Términos y condiciones</a></li>
			<li><a href="mailto:contact.ceus@gmail.com">Contacto</a></li>
			<li><a href="../aboutus.jsp">Sobre nosotros</a></li>
			<li><a href="../politicaPrivacidad.jsp">Política de
					privacidad</a>
			<li><a href="http://cryptoeus.appspot.com/docs/index.html">Documentación
					de la api</a></li>
		</ul>
	</div>
</footer>