<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/ceustyle.css">
</head>
<body>
<header>
	<div class="nav">
		<div id=nav-iz>
			<img alt="logo" src="../images/protologo2white.png" class="logo" />
		</div>
	</div>
		<ul id=menu-header>
			<li><a href="../index.html">Inicio</a></li>
			<li><a href="header.html">Mapa</a></li>
			<li><a href="#">Consulta de precios</a></li>
			<li><a href="#">Consulta de direcciones</a></li>
			<li id=nav-login><a>Login</a>
		</ul>
</header>
</body>
</html>