@charset "ISO-8859-1";

@font-face {
    font-family: aileron;
    src: url(font/Aileron-Thin.otf);
}

*{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
body{
	font-family: aileron;
}
main{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	clear: both;
	display: block;
}
a{
  text-decoration: none;
  color:black;
}

a:hover{
	text-decoration: underline;
}
.nav{
  text-align: center;
  width: 100%;
  background-color: #160f29;
  color: #FFF5EE;
  overflow: hidden;
}

.logo{
  width: 55px;
  height: 55px;
}

#nav-iz{
  float: left !important;
  padding: 8px 16px;
}

#nav-der{
  float: right !important;
  padding: 8px 16px;
}

.landing-page{
  width: 100%;
  background-color: #255498;
  text-align: center;
  color: #FFF5EE;
  padding: 5em 0 4.2em 0;
}

.boton{
  text-align: center;
  color: #FFF5EE;
  background-color:#255498;
  font-size: 14px;

  border: 1.5px solid #160f29;
  border-radius: 6px;
  width: auto;
  height: 3.5em;
  padding: 0 5px 0 5px;
  margin: 12px 0 8px 0;
}

.boton:hover{
  text-align: center;
  color: #FFF5EE;
  background-color:##2a5fad;
  font-size: 14px;

  border: 1.5px solid #160f29;
  border-radius: 6px;
  width: auto;
  height: 3.5em;
  padding: 0 5px 0 5px;
  margin: 12px 0 8px 0;
}

.boton-dark{
  text-align: center;
  color: #FFF5EE;
  background-color:#160f29;
  font-size: 14px;

  border: 1.5px solid #255498;
  border-radius: 6px;
  width: auto;
  height: 3.5em;
  padding: 0 5px 0 5px;
  margin: 12px 0 8px 0;
}
.boton-dark:hover{
  text-align: center;
  color: #FFF5EE;
  background-color:#1b3d6f;
  font-size: 14px;

  border: 1.5px solid #255498;
  border-radius: 6px;
  width: auto;
  height: 3.5em;
  padding: 0 5px 0 5px;
  margin: 12px 0 8px 0;
}

.boton-light{
  text-align: center;
  color: #160f29;
  background-color:#FFF5EE;
  font-size: 14px;

  border: 1.5px solid #E2C044;
  border-radius: 6px;
  width: auto;
  height: 3.5em;
  padding: 0 5px 0 5px;
  margin: 12px 0 8px 0;
}
.boton-light:hover{
  text-align: center;
  color: #160f29;
  background-color:#ffe6d5;
  font-size: 14px;

  border: 1.5px solid #E2C044;
  border-radius: 6px;
  width: auto;
  height: 3.5em;
  padding: 0 5px 0 5px;
  margin: 12px 0 8px 0;
}

.desc{
  padding: 4px 4px 6px 4px;
  background-color: white;
  color:black;
  text-align: center;
  font-size:16px;
}
h1,h2,h3,h4,h5,h6>.desc{
  margin: 12px 0 10px 0;
}

footer{
  display: block;
  border-top: 2px black solid;
  background-color: white;
  width: 99%;
  height: 12%;
  text-align: center;
  clear: both;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ul,ol>footer{
  list-style-type: none;
}

.logo-footer{
    width: 30%;
    height: 30%;
}

#fot-iz{
  float: left !important;
  padding: 8px 0 16px 0;
  margin-left: 27%;
}

#fot-der{
  margin-right: 27%;
  clear: right;
  float: right !important;
  padding: 8px 0 16px 0;
}

.container{
	border-radius: 10%;
	padding: 1em;
	width: 30%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.c-left{
	float: left;
	clear: left;
}

.c-center{
	display: inline-block;
}

.c-right{
	float: right;
	clear: right;
}

.au-left{
	float: left;
	clear: left;
	border-left: 5px solid red;
	background-color: #ff9191;
}

.au-center{
	display: inline-block;
	border-left: 5px solid green;
	background-color: #91ff91;
}

.au-right{
	float: right;
	border-left: 5px solid blue;
	clear: right;
	background-color: #9191ff;
}

.center{
	text-align: center;
}

.au-img{
	border-radius: 50%;
}

#menu-header{
    list-style-type: none;
    margin: 0;
    float: left;
    width: 100%;
	background-color: #255498;
	color: #FFF5EE;
	overflow: hidden;
}

#menu-header li{
	display: inline;
	padding: 10px 8px;
}

#menu-header a{
	color: white;
	font-size: 16px;
	padding: 4px
	
}

#menu-header li:hover{
	background-color: #6060ff;
}

#bot-header{
	display: inline;
	float: left !important;
  	padding: 10px 8px;

}


/* #nav-login{
	display: inline;
	float: right !important;
  	padding: 10px 8px;
  	cursor: pointer;
} */

.dropbtn {
    background-color: #255498;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000 !important;
}

.dropdown-content {
	z-index: 1000;
    display: none;
    position: absolute;
    background-color: #255498;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    float: left;
}

.dropdown-content a:hover {
	text-decoration: underline;
	}

.dropdown:hover .dropdown-content {
    display: inline;
    float: left;
}

.dropdown:hover .dropbtn {
    background-color: #6060ff;
}

