<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>ceus.api.PlacesApplication</param-value>
		</init-param>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>CoinmapController</display-name>
		<servlet-name>CoinmapController</servlet-name>
		<servlet-class>ceus.controller.CoinmapController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoinmapController</servlet-name>
		<url-pattern>/CoinmapController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>BlockchainConverterController</display-name>
		<servlet-name>BlockchainConverterController</servlet-name>
		<servlet-class>ceus.controller.BlockchainConverterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlockchainConverterController</servlet-name>
		<url-pattern>/BlockchainConverterController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>BlockchainPriceController</display-name>
		<servlet-name>BlockchainPriceController</servlet-name>
		<servlet-class>ceus.controller.BlockchainPriceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlockchainPriceController</servlet-name>
		<url-pattern>/BlockchainPriceController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>CoinmapLocationController</display-name>
		<servlet-name>CoinmapLocationController</servlet-name>
		<servlet-class>ceus.controller.CoinmapLocationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoinmapLocationController</servlet-name>
		<url-pattern>/CoinmapLocationController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>BlockchainAddressController</display-name>
		<servlet-name>BlockchainAddressController</servlet-name>
		<servlet-class>ceus.controller.BlockchainAddressController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlockchainAddressController</servlet-name>
		<url-pattern>/BlockchainAddressController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>TelegramController</display-name>
		<servlet-name>TelegramController</servlet-name>
		<servlet-class>ceus.controller.TelegramController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TelegramController</servlet-name>
		<url-pattern>/TelegramController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GoogleLoginController</display-name>
		<servlet-name>GoogleLoginController</servlet-name>
		<servlet-class>ceus.controller.GoogleLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleLoginController</servlet-name>
		<url-pattern>/GoogleLoginController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoogleAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Google</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleAuthController</servlet-name>
		<url-pattern>/googleAuth</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoogleOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Google</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/GoogleLoginController</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Google</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>HistoricalBCDataController</display-name>
		<servlet-name>HistoricalBCDataController</servlet-name>
		<servlet-class>ceus.controller.HistoricalBCDataController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoricalBCDataController</servlet-name>
		<url-pattern>/HistoricalBCDataController</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>